.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: left;
    z-index: 10; /* Ensure it stays on top */
  }
  